*.dll
ANNOUNCE
*.exe
base/lispinit.mem
*.sh
bindings/win32/Makefile
*.fas
bindings/win32/win32.lisp
*.h
build-aux/config.guess
*.rpath
build-aux/config.sub
build-aux/depcomp
*.mem
clisp-2.49/bindings/win32/Makefile
clisp-2.49/bindings/win32/win32.lisp
*.guess
*.sub
clisp-2.49/build-aux/depcomp
*.txt
*.text
*.o
*.html
*.man
*.1
*.css
*.png
*.ico
*.el
*.vim
*.lnk
*.c
*.mo
clisp-2.49/*
clisp-2.49/clisp-link
clisp-2.49/COPYRIGHT
clisp-link
COPYRIGHT
dirkey/*
GNU-GPL
i18n/*
libsvm/*
misc/*
NEWS
pcre/*
rawsock/*
readline/*
*.de
*.es
regexp/*
syscalls/*
wildcard/*
zlib/*
SUMMARY
src/*
emacs/*
linkkit/*
README